.profileB1 a {
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    padding: 15px;
    border-radius: 3px;
    width: 13em;
}

.modal {
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;
    height: 40em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
    font-family: outfit;
}

.modal .content {
    position: absolute;
    left: 31em;
    bottom: 13em;
    background: #ccf1f7;
    width: 461px;
    padding: 1em 2em;
    border-radius: 4px;
    border: 2px solid rgb(150, 184, 198);
}

.modal:target {
    visibility: visible;
    opacity: 1;
    backdrop-filter: blur(4px);
}

.box-close1{
    position: absolute;
    top: -0.4em;
    left: 9.7em;

    font-size: 30px;
    width: auto;
    height: fit-content;
}

.box-close a{
    color: #994747;
    text-decoration: none;
    font-size: 30px;
    width: fit-content;
    height: fit-content;
}

.old-Password ,.new-Password{
    
    display: flex;
    justify-content: space-between;
    line-height: 37px;
    font-size: 17px;
    margin: 1em 1em 1em 0em;
    color: #2c3e6c;
}

.otp{
    display: flex;
    justify-content: space-between;
    line-height: 37px;
    font-size: 17px;
    margin: 1em 1em 0.2em 0em;
    color: #2c3e6c;
}

.old-Password input[type="text"],
.new-Password input[type="text"],
.otp input[type="number"]
{
    width: 58%;
    padding: 7px;
    border: 1.7px solid #82ad96;
    border-radius: 3px;
    font-size: 0.9em;
    color: #4f4f4f;
    
}

.otp input::-webkit-outer-spin-button,
.otp input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.get-otp{
    color: rgb(16, 56, 156);
    background-color: transparent;
    text-decoration: underline;
    width: fit-content;
    padding: 0.5em;
    border: none;
    transition-duration: 0.3s;
    cursor: pointer;
    position: relative;
    left: 7.6em;
    padding: 0em;
}

.change-Password:hover, .get-otp:hover{
    background-color: #155592;
    color: black;
}

.change-Password{
    font-size: 1em;
    color: white;
    background-color: #347ec4;
    width: 60%;
    margin: 1em 0em 1em 9.7em;
    padding: 0.5em;
    border: none;
    border-radius: 3px;
    transition-duration: 0.3s;
    cursor: pointer;
}



.modal span{
    color: #ff2d2d;
    margin-left: 3px;
}