/* Reset some default styles */
body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

/* Header styles */
.profile-container {
    background-color: #fff;
    padding: 48px;
    margin: 10px 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading-1 {
    font-size: 23px;
    color: #333;
}

.profile-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
}

.profile-picture-container {
    margin-right: 20px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.update-profile-button {
    color: #007bff;
    cursor: pointer;
}

/* Personal details styles */
.personal-details {
    background-color: #fff;
    padding: 37px;
    margin: 10px 300px;
    box-shadow: 0 0 10px rgba(54, 53, 53, 0.1);
}

.heading-2 {
    font-size: 15px;
    color: #333;
}

.editable {
    border-bottom: 1px dashed #007bff;
    cursor: pointer;
}

.edit-button {
    color: #007bff;
    cursor: pointer;
}

/* Bank details styles */
.bank-details-container {
    background-color: #fff;
    padding: 48px;
    margin: 10px 300px;
    box-shadow: 0 0 10px rgba(54, 53, 53, 0.1);
}

/* Responsive styles */
@media (max-width: 600px) {
    .profile-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile-picture-container {
        margin-bottom: 20px;
    }
}
