body {
    font-family: Arial, sans-serif;
}

.outer-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 24px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.inner-container {
    border: 0px solid #eee;
    padding: 0px;
    margin: 0px;
    background-color: #007bff;
    color:white;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"] {
    width: 97%;
    padding: 9px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.form-group textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    resize: none;
}

.form-group select {
    width: 100%;
    padding: 11px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.form-group button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}